<div class="primary">
  <h1><%= @meetup.name %></h1>

  <form action="/meetup/<%= @meetup.id %>" method="post">
    <% if is_member?(@meetup.id, session[:user_id]) %>
      <input type="hidden" name="leave" value="true">
      <button type="submit">Leave Meetup</button>
    <% else %>
      <input type="hidden" name="join" value="true">
      <button type="submit">Join Meetup</button>
    <% end %>
  </form>

  <h3>Description:</h3>
  <p>
    <%= @meetup.description %>
  </p>

  <h3>Location:</h3>
  <p>
    <%= @meetup.location %>
  </p>
  <a href="/">Back to Meetups List</a>


</div>


<div class="sidebar">
  <h3>Members:</h3>
  <ul>
    <% @meetup.users.each do |user| %>
    <li><img class="avatar small" src="<%= user.avatar_url %>"><%= user.username %></li>
    <% end %>
  </ul>
</div>

<div class="comments">
  <% if is_member?(@meetup.id, session[:user_id]) %>
    <div class="comment-entry">
      <h3>Write a Comment:</h3>
      <form action="/meetup/<%= @meetup.id %>" method="post">
        <label for="title">Title:</label>
        <input type='Text' name='title' >
        <label for="body">Comment:</label>
        <textarea name='body' required ></textarea>
        <button type='submit'>Submit!</button>
      </form>
    </div>

    <div class="comment-area">
      <h3>Comments:</h3>
      <% Comment.where(meetup_id: @meetup.id).order(created_at: :desc).to_a.each do |comment| %>
      <div class="comment">
        <% user = User.find(comment.user_id) %>
        <div class="meta">
          <img class="avatar small" src="<%= user.avatar_url %>">
          <h6><%= user.username %> says: </h6>
        </div>
        <div class="content">
          <h4><%= comment.title %></h4>
          <p><%= comment.body %></p>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
